.social {
  height: 40px;
}

.social .social__link {
  width: 36px;
  height: 36px;
  padding: 8px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 2px 16px;
}

.social .social__link:hover {
  width: 40px;
  height: 40px;
  padding: 10px;
  margin: 0 14px;
}

.social .social__link--vk {
  background-color: #3F8AE0;
}

.social .social__link--instagram {
  background: radial-gradient(65% 65% at 20% 90%, #FFD43D 0%, rgba(247, 95, 43, 0.12) 100%), linear-gradient(167.77deg, #3350F3 5.05%, #D41EB0 52.59%, #F8214E 91.1%);
}

.social .social__link--whatsapp {
  background-color: #00D15D;
}

.social .social__icon {
  width: 20px;
  height: 20px;
}

.social .social__icon path {
  fill: #fff;
}

.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 8px;
  white-space: nowrap;
}

.menu__link {
  text-decoration: none;
  color: inherit;
}

.menu__more-btn {
  border: none;
}

.menu__link, .menu__more-btn {
  text-align: center;
  padding: 0px 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */
  letter-spacing: 0.01em;
  background: #F2F2F2;
  border-radius: 28px;
}

.menu__link:hover, .menu__more-btn:hover {
  background: #ECECEC;
}

.menu__link--active, .menu__more-btn--active {
  color: #787878;
}

.menu__more-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  visibility: hidden;
  z-index: 2;
}

.menu__more-list--active {
  visibility: visible;
}

.header {
  padding: 16px 0;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__file-documents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 16px;
  padding: 5px 0 4px;
  width: 177px;
  height: 30px;
  font-weight: 700;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  background: #000000;
  border-radius: 4px;
}

.header__file-documents:hover {
  background: #252525;
}

.phone {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */
  letter-spacing: 0.01em;
  margin-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.phone__avatar {
  width: 36px;
  height: 36px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  /* text/01 | 18 Reg | PC */
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */
  color: #000000;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 8px;
}
/*# sourceMappingURL=style.css.map */