.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.avatar--big {
  width: 50px;
  height: 50px;
}

.button {
  text-decoration: none;
  height: 30px;
  /* Auto layout */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 12px 4px;
  gap: 8px;
  border-radius: 4px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  /* button/01 | 11 Caps | PC */
  font-weight: 700;
  border: 1px solid rgba(0, 0, 0, 0.12);
  /* text/01 */
  color: #000000;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
}

.button:hover {
  color: #4A4A4A;
}

.button--background--black {
  background: #000000;
  color: #fff;
}

.button--background--black:hover {
  color: #fff;
  background: #252525;
}

.button--size--large {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-transform: none;
}

.icon {
  width: 10px;
  height: 10px;
}

#overlay::after {
  content: "";
  display: block;
  position: fixed;
  /* could also be absolute */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.section__title {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 44px;
  line-height: 51px;
  color: #000000;
}

.social__link {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: all .03s;
  transition: all .03s;
}

.social__link--big {
  width: 50px;
  height: 50px;
}

.social__link--vk {
  color: #fff;
  background-color: #3F8AE0;
}

.social__link--instagram {
  background: radial-gradient(65% 65% at 20% 90%, #FFD43D 0%, rgba(247, 95, 43, 0.12) 100%), linear-gradient(167.77deg, #3350F3 5.05%, #D41EB0 52.59%, #F8214E 91.1%);
}

.social__link--whatsapp {
  background-color: #00D15D;
}

.social__link--tel {
  background: #F2F2F2;
}

.social__icon {
  width: 20px;
  height: 20px;
  position: absolute;
  left: calc(50% - 20px/2);
  top: calc(50% - 20px/2);
  fill: #fff;
}

.social__icon--big {
  width: 24px;
  height: 24px;
  left: calc(50% - 24px/2);
  top: calc(50% - 24px/2);
}

.social__icon--tel {
  fill: #252525;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}

@media (max-width: 670px) {
  .menu {
    overflow: hidden;
  }
}

.menu__burger-btn {
  border: none;
  height: 24px;
  width: 24px;
  background: url(../images/menu-burger.svg) no-repeat;
  display: none;
}

@media (max-width: 670px) {
  .menu__burger-btn {
    display: block;
  }
}

.menu__list {
  max-width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

@media (max-width: 670px) {
  .menu__list {
    position: absolute;
    display: block;
    -webkit-transform: translateX(calc(-100% - 15px));
            transform: translateX(calc(-100% - 15px));
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #DFDFDE;
    -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
  }
  .menu__list--visible-by-burger {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.menu__item + .menu__item {
  padding-left: 8px;
}

@media (max-width: 670px) {
  .menu__item + .menu__item {
    padding-left: 0;
  }
  .menu__item:nth-child(2n-1) {
    background: #F2F2F2;
  }
  .menu__item:hover {
    background: #ECECEC;
  }
}

.menu__more {
  padding-left: 8px;
  position: relative;
}

@media (max-width: 670px) {
  .menu__more {
    display: none;
  }
}

.menu__link, .menu__more-btn {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 0px 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  background: #F2F2F2;
  border-radius: 28px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu__link:hover, .menu__more-btn:hover {
  background: #ECECEC;
}

.menu__link--active, .menu__more-btn--active {
  color: #787878;
}

.menu__link {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 670px) {
  .menu__link {
    text-align: start;
    white-space: nowrap;
    padding: 0px 19px;
    background: transparent;
    border-radius: 0;
    -webkit-transition: none;
    transition: none;
  }
}

.menu__more-btn {
  border: none;
}

.menu__more-list {
  position: absolute;
  list-style: none;
  padding: 13px 0;
  margin: 0;
  visibility: hidden;
  z-index: 2;
  overflow: hidden;
  right: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 1px solid #DFDFDE;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.07);
  border-radius: 4px;
}

.menu__more-list--active {
  visibility: visible;
}

.menu__more-item {
  margin: 0 -1px;
}

.menu__more-item + .menu__more-item {
  padding-left: 0;
}

.menu__more-item:nth-child(2n-1) {
  background: #F2F2F2;
}

.menu__more-item:hover {
  background: #ECECEC;
}

.menu__more-link {
  text-align: start;
  white-space: nowrap;
  padding: 0px 19px;
  background: transparent;
  border-radius: 0;
  -webkit-transition: none;
  transition: none;
}

.phone {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.burger {
  position: relative;
  width: 32px;
  height: 4px;
  background: #000;
  margin: auto;
}

.burger:before, .burger:after {
  content: '';
  position: absolute;
  left: 0;
  width: 32px;
  height: 4px;
  background: #000;
}

.burger:before {
  top: -8px;
}

.burger:after {
  bottom: -8px;
}

.header {
  padding: 16px 0;
  position: relative;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 670px) {
  .header__top {
    margin-left: 48px;
  }
}

.header__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger {
  position: absolute;
  left: 16px;
  top: 24px;
}

.header__social {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.header__link:hover {
  width: 40px;
  height: 40px;
  margin: 0 -2px;
}

@media (max-width: 670px) {
  .header__link--vk {
    display: none;
  }
}

@media (max-width: 670px) {
  .header__link--instagram {
    display: none;
  }
}

.header__link--tel {
  display: none;
}

@media (max-width: 1024px) {
  .header__link--tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__phone {
  margin-left: 32px;
}

@media (max-width: 1024px) {
  .header__phone {
    display: none;
  }
}

.header__file-documents {
  margin-left: 16px;
}

@media (max-width: 576px) {
  .header__file-documents {
    display: none;
  }
}

.logo__img {
  height: 40px;
}

@media (max-width: 768px) {
  .logo__img {
    height: 32px;
  }
}

.review {
  height: 496px;
}

.review.active {
  width: 800px;
  height: auto;
  position: fixed;
  margin: auto;
  z-index: 101;
  left: 50vw;
  top: 50vh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.review.active .review__consult {
  color: #fff;
  border-color: rgba(223, 223, 222, 0.3);
}

.review.active .review__caption {
  color: #fff;
}

.review__text-wrapper {
  padding: 32px 40px;
  height: 376px;
  background: #F2F2F2;
}

.review__text {
  position: relative;
  height: 100%;
  overflow: hidden;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
}

.review__text--overflowed::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#F2F2F2));
  background: linear-gradient(transparent, #F2F2F2);
}

.review__caption {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #000000;
}

.review__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #787878;
}

.horizontal-review__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}

.horizontal-review__info-icons {
  width: 88px;
  position: relative;
}

.horizontal-review__info-card {
  margin-left: 16px;
}

.horizontal-review__avatar {
  position: relative;
  z-index: 2;
}

.horizontal-review__social {
  position: absolute;
  top: 0;
  right: 0;
}

.horizontal-review__consult {
  margin-top: 12px;
}

.reviews__slides {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 32px;
  overflow-x: auto;
}

.reviews__slide {
  min-width: 488px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  /* text/01 | 18 Reg | PC */
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */
  color: #000000;
}

.container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 16px;
}
/*# sourceMappingURL=style.css.map */