@import "social";
@import "menu";
@import "phone";
@import "burger";


.header {
    padding: 16px 0;
    position: relative;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 670px) {
            margin-left: 48px;
        }
    }

    &__section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__burger {
        position: absolute;
        left: 16px;
        top: 24px;
    }

    &__social {
        height: 40px;
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__link {
        &:hover {
            width: 40px;
            height: 40px;
            margin: 0 -2px;
        }

        &--vk {
            @media (max-width: 670px) {
                display: none;
            }
        }

        &--instagram {
            @media (max-width: 670px) {
                display: none;
            }
        }

        &--tel {
            display: none;

            @media (max-width: 1024px) {
                display: flex;
            }
        }
    }

    &__phone {
        margin-left: 32px;

        @media (max-width: 1024px) {
            display: none;
        }
    }

    &__file-documents {
        margin-left: 16px;

        @media (max-width: 576px) {
            display: none;
        }
    }
}

.logo {
    &__img {
        height: 40px;

        @media (max-width: 768px) {
            height: 32px;
        }
    }
}