@import "social";
@import "menu";
@import "phone";
@import "burger";


.header {
    padding: 16px 0;
    position: relative;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 670px) {
            margin-left: 48px;
        }
    }

    &__section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__burger {
        position: absolute;
        left: 16px;
        top: 24px;
    }

    &__link {
        &--vk {
            @media (max-width: 670px) {
                display: none;
            }
        }

        &--instagram {
            @media (max-width: 670px) {
                display: none;
            }
        }

        &--tel {
            display: none;

            @media (max-width: 1024px) {
                display: flex;
            }
        }
    }

    &__phone {
        margin-left: 32px;

        @media (max-width: 1024px) {
            display: none;
        }
    }

    &__file-documents {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 16px;
        padding: 5px 0 4px;
        width: 177px;
        height: 30px;

        font-weight: 700;
        font-size: 11px;
        line-height: 22px;

        letter-spacing: 0.17em;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;


        color: #FFFFFF;
        background: #000000;
        border-radius: 4px;

        &:hover {
            background: #252525;
        }

        @media (max-width: 576px) {
            display: none;
        }
    }
}

.logo {
    &__img {
        height: 40px;
        @media (max-width: 768px) {
            height: 32px;
        }
    }
}