@import "social";
@import "menu";


.header {
    padding: 16px 0;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__file-documents {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 16px;
        padding: 5px 0 4px;
        width: 177px;
        height: 30px;

        font-weight: 700;
        font-size: 11px;
        line-height: 22px;

        letter-spacing: 0.17em;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;


        color: #FFFFFF;
        background: #000000;
        border-radius: 4px;

        &:hover {
            background: #252525;
        }
    }
}


.phone {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 138% */
    letter-spacing: 0.01em;

    margin-left: 16px;
    display: flex;

    align-items: center;
    gap: 8px;

    &__avatar {
        width: 36px;
        height: 36px;
    }

}