.social {
    height: 40px;

    .social__link {
        width: 36px;
        height: 36px;
        padding: 8px;
        border-radius: 50%;
        display: inline-flex;
        margin: 2px 16px;

        // &+& {
        //     margin-left: 16px;
        // }

        &:hover {
            width: 40px;
            height: 40px;
            padding: 10px;
            margin: 0 14px;

        }

        &--vk {
            background-color: #3F8AE0;
        }

        &--instagram {
            background: radial-gradient(65% 65% at 20% 90%, #FFD43D 0%, rgba(247, 95, 43, 0.12) 100%)
                /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
                ,
                linear-gradient(167.77deg, #3350F3 5.05%, #D41EB0 52.59%, #F8214E 91.1%);
        }

        &--whatsapp {
            background-color: #00D15D;
        }
    }

    .social__icon {
        width: 20px;
        height: 20px;

        path {
            fill: #fff;
        }
    }
}