.social {


    &__link {
        position: relative;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        display: inline-flex;
        transition: all .03s;

        

        &--big {
            width: 50px;
            height: 50px;
            

        }

        &--vk {
            color: #fff;
            background-color: #3F8AE0;
        }

        &--instagram {
            background: radial-gradient(65% 65% at 20% 90%, #FFD43D 0%, rgba(247, 95, 43, 0.12) 100%),
                linear-gradient(167.77deg, #3350F3 5.05%, #D41EB0 52.59%, #F8214E 91.1%);
        }

        &--whatsapp {
            background-color: #00D15D;
        }

        &--tel {
            background: #F2F2F2;
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
        position: absolute;
        left: calc(50% - 20px/2);
        top: calc(50% - 20px/2);
        fill: #fff;

        &--big {
            width: 24px;
            height: 24px;
            left: calc(50% - 24px/2);
            top: calc(50% - 24px/2);
        }

        &--tel {
            fill: #252525;
        }
    }
}